DATA_REPLICATION_PIPELINE_QA_Logging_RECON_CHILD.json
{
    "name": "DATA_REPLICATION_PIPELINE_QA_Logging_RECON_CHILD",
    "properties": {
        "description": "This pipeline is to replicate the data from production to Test (QA) which includes both full load and incremental load",
        "activities": [
            {
                "name": "INCREMENTAL LOAD",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "LookupWaterMarkActivity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM @{concat('STG_SAP_R3.','STG_',pipeline().parameters.TABLE_NAME)} WHERE LOAD_DATE >= '@{activity('LookupWaterMarkActivity').output.value[0].watermarkdate}'\n",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "SqlDWSink",
                        "preCopyScript": {
                            "value": "@{concat('TRUNCATE TABLE SRC_SAP_R3.STG_',pipeline().parameters.TABLE_NAME)}",
                            "type": "Expression"
                        },
                        "allowPolyBase": true,
                        "polyBaseSettings": {
                            "rejectValue": 0,
                            "rejectType": "value",
                            "useTypeDefault": true
                        },
                        "disableMetricsCollection": false
                    },
                    "enableStaging": true,
                    "stagingSettings": {
                        "linkedServiceName": {
                            "referenceName": "ADLS_Stg_CDCLoad",
                            "type": "LinkedServiceReference"
                        },
                        "path": "celonisprod/Staging"
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_SYNAPSE01P",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "STG_SAP_R3",
                            "tablename": {
                                "value": "@concat('STG_',pipeline().parameters.TABLE_NAME)",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_SYNAPSE01T",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "SRC_SAP_R3",
                            "tablename": {
                                "value": "@concat('STG_',pipeline().parameters.TABLE_NAME)",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "MERGE WITH TARGET TABLE",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Get Max Load_Date from SRC_SAP_R3-STG",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "edw_DR.CDW_INGESTION_v3",
                    "storedProcedureParameters": {
                        "targettablename": {
                            "value": {
                                "value": "@pipeline().parameters.TABLE_NAME",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "keycolumn": {
                            "value": {
                                "value": "@pipeline().parameters.KEYCOLUMN",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ccuscsynapse01t_ccSQLPool01",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "LookupWaterMarkActivity",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "IF EXISTS(SELECT ISNULL(WATERMARKDATE,GETDATE()-1) WATERMARKDATE FROM EDW_DR.DATAREPLICATION_WATERMARK WHERE SCHEMANAME = '@{pipeline().parameters.SCHEMA_NAME}' AND TABLENAME =  '@{pipeline().parameters.TABLE_NAME}')\nBEGIN\nSELECT ISNULL(watermarkdate,GETDATE()-1) watermarkdate FROM EDW_DR.DATAREPLICATION_WATERMARK WHERE SCHEMANAME = '@{pipeline().parameters.SCHEMA_NAME}' AND TABLENAME =  '@{pipeline().parameters.TABLE_NAME}'\nEND\nELSE\nBEGIN\nINSERT INTO EDW_DR.DATAREPLICATION_WATERMARK\nSELECT '@{pipeline().parameters.SCHEMA_NAME}' , '@{pipeline().parameters.TABLE_NAME}' ,GETDATE()-11\n;\nSELECT GETDATE()-11 watermarkdate\nEND",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SYNAPSE01T",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "na",
                            "tablename": "na"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Watermark Stored procedure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SRC_SAP_R3 TO STG_SAP_R3 TABLE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[edw_DR].[usp_write_watermark_DR]",
                    "storedProcedureParameters": {
                        "LastModifiedtime": {
                            "value": {
                                "value": "@activity('Get Max Load_Date from SRC_SAP_R3-STG').output.value[0].max_load_date",
                                "type": "Expression"
                            }
                        },
                        "schemaname": {
                            "value": {
                                "value": "@pipeline().parameters.SCHEMA_NAME",
                                "type": "Expression"
                            }
                        },
                        "tableName": {
                            "value": {
                                "value": "@pipeline().parameters.TABLE_NAME",
                                "type": "Expression"
                            }
                        },
                        "beforetableloadcount": {
                            "value": null
                        },
                        "aftertableloadcount": {
                            "value": null
                        },
                        "tableloadstatus": {
                            "value": "SUCCESS"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ccuscsynapse01t_ccSQLPool01",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Generic Email Alert",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "INCREMENTAL LOAD",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Generic Email Alert",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "EmailTo": "aditya.rathi@chemours.com ; manojkumar.agarwal@chemours.com ; samridhi.kohli@chemours.com ; vishal.pundir@chemours.com",
                        "Message": {
                            "value": "@concat('QA_CDW_Email_Alert: Pipeline DATA_REPLICATION_PIPELINE_QA failed for table - ',pipeline().parameters.SCHEMA_NAME,'.',pipeline().parameters.TABLE_NAME)",
                            "type": "Expression"
                        },
                        "Subject": {
                            "value": "@concat('QA_CDW_Email_Alert: Pipeline DATA_REPLICATION_PIPELINE_QA failed for table - ',pipeline().parameters.SCHEMA_NAME,'.',pipeline().parameters.TABLE_NAME)",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Generic Email Alert-2",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "MERGE WITH TARGET TABLE",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Generic Email Alert",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "EmailTo": "aditya.rathi@chemours.com ; manojkumar.agarwal@chemours.com ; samridhi.kohli@chemours.com ; vishal.pundir@chemours.com",
                        "Message": {
                            "value": "@concat('QA_CDW_Email_Alert: Pipeline DATA_REPLICATION_PIPELINE_QA failed for table - ',pipeline().parameters.SCHEMA_NAME,'.',pipeline().parameters.TABLE_NAME)",
                            "type": "Expression"
                        },
                        "Subject": {
                            "value": "@concat('QA_CDW_Email_Alert: Pipeline DATA_REPLICATION_PIPELINE_QA failed for table - ',pipeline().parameters.SCHEMA_NAME,'.',pipeline().parameters.TABLE_NAME)",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Get Max Load_Date from SRC_SAP_R3-STG",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "INCREMENTAL LOAD",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "@concat('SELECT max(load_date) as max_load_date from SRC_SAP_R3.STG_',pipeline().parameters.TABLE_NAME)",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SYNAPSE01T",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "na",
                            "tablename": "na"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "SRC_SAP_R3 TO STG_SAP_R3 TABLE",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "MERGE WITH TARGET TABLE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM @{concat('SRC_SAP_R3.','STG_',pipeline().parameters.TABLE_NAME)}\n",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "SqlDWSink",
                        "allowPolyBase": true,
                        "polyBaseSettings": {
                            "rejectValue": 0,
                            "rejectType": "value",
                            "useTypeDefault": true
                        },
                        "disableMetricsCollection": false
                    },
                    "enableStaging": true,
                    "stagingSettings": {
                        "linkedServiceName": {
                            "referenceName": "ADLS_Stg_CDCLoad",
                            "type": "LinkedServiceReference"
                        },
                        "path": "celonisprod/Staging"
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_SYNAPSE01T",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "SRC_SAP_R3",
                            "tablename": {
                                "value": "@concat('STG_',pipeline().parameters.TABLE_NAME)",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_SYNAPSE01T",
                        "type": "DatasetReference",
                        "parameters": {
                            "schemaname": "STG_SAP_R3",
                            "tablename": {
                                "value": "@concat('STG_',pipeline().parameters.TABLE_NAME)",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            }
        ],
        "parameters": {
            "AuditOn": {
                "type": "string",
                "defaultValue": "N"
            },
            "TABLE_NAME": {
                "type": "string"
            },
            "SCHEMA_NAME": {
                "type": "string"
            },
            "KEYCOLUMN": {
                "type": "string"
            }
        },
        "folder": {
            "name": "DATA_REPLICATION"
        },
        "annotations": [],
        "lastPublishTime": "2023-09-22T15:07:19Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}